.grid-container {
  display: grid;
  height: 400px;
  width: 400px;
  border: 1px solid black;
  margin: auto;
  grid-template-columns: auto auto auto auto;
}

.square{
  text-align: center;
  border: 1px solid black;
}

.hammer {
  width: 50px;
  height: 50px;
  position: absolute;
  pointer-events: none;
}

.down {
  transform: rotate(30deg);
}

.mole {
	background-image: url("mole.jpg");
	background-size: cover;
}

/* .board {
  width: 400px;
  height: 400px;
  background-color: blue;
  color: white;
  font-size: 128px;
} */
